.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  padding-top: 70px;
  min-height: calc(100vh - 197px);
}

.title {
  color: var(--text-primary);
  font-size: 2rem;
}

.configurator {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.section {
  width: 100%;
  max-width: 800px;
}

.images {
  width: 100%;
  background-color: red;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.total {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.formActions {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.link {
  width: 100%;
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .configurator {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .images {
    width: 60%;
  }

  .form {
    width: 40%;
  }
}
