.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem;
  padding-top: 70px;
  min-height: calc(100vh - 100px);
  background-image: url("/img/bike-shoes.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.link {
  width: 100%;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}
