.configurator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-top: 70px;
  min-height: calc(100vh - 197px);
}

.configurator-title {
  color: var(--text-primary);
  font-size: 2rem;
}

.configurator-product {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.configurator-section {
  width: 100%;
  max-width: 800px;
}

@media (min-width: 768px) {
  .configurator-title {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .configurator-title {
    font-size: 3.5rem;
  }

  .configurator-product {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
