:root {
  /* Text Colors */
  --text-primary: #25253d;
  --text-secondary: #007c85;

  /* Background Colors */
  --bg-primary: #ffffff;
  --bg-secondary: #f3f4f6;

  /* Action Colors */
  --action-bg-primary: #db003a;
  --action-bg-primary-hover: #ff355e;
  --action-border-primary: #db003a;
  --action-border-primary-hover: #ff355e;
  --action-text-primary: #ffff;

  --action-bg-secondary: #ffff;
  --action-bg-secondary-hover: #25253d0d;
  --action-border-secondary: #25253d;
  --action-border-secondary-hover: #25253d;
  --action-text-secondary: #25253d;
}

:root {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 0;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}
