:root {
  /* Text Colors */
  --text-primary: #25253d;
  --text-secondary: #007c85;
  --text-disabled: #7c7c8b;

  /* Background Colors */
  --bg-primary: #ffffff;
  --bg-secondary: #f3f4f6;

  /* Border Colors */
  --border-grey: #d3d3d8;

  /* Action Colors */
  --action-bg-primary: #db003a;
  --action-bg-primary-hover: #ff355e;
  --action-border-primary: #db003a;
  --action-border-primary-hover: #ff355e;
  --action-text-primary: #ffff;

  --action-bg-secondary: #ffff;
  --action-bg-secondary-hover: #25253d0d;
  --action-border-secondary: #25253d;
  --action-border-secondary-hover: #25253d;
  --action-text-secondary: #25253d;

  --action-bg-primary-disabled: #f8b3c1;
  --action-border-primary-disabled: #f8b3c1;
  --action-text-primary-disabled: #ffffff;

  --action-bg-secondary-disabled: #f0f0f0;
  --action-border-secondary-disabled: #d3d3d8;
  --action-text-secondary-disabled: #a0a0a0;
}

:root {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 0;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding: 1rem;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
